<ion-view view-title="Organization List">


  <ion-content padding="true">

<div class="container" ng-init="organizationCreate.create()">





    <div class="list">
      <div class="page-title">
        <h1>Add Organization</h1>
      </div>

      <label class="item item-input item-stacked-label">
        <span class="input-label">organization Name</span>
        <input type="text"  placeholder="organization Name" ng-model="organizationCreate.organization.organizationName">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">organization Type</span>
        <input type="text" placeholder="organization Type " ng-model="organizationCreate.organization.organizationType">
      </label>
      <button class="button button-assertive" ng-click="organizationCreate.create()">
        Submit
      </button>
    </div>




</div>


  </ion-content>
</ion-view>
