<ion-view view-title="Organization List">


  <ion-content padding="true">
    <span ng-init="organization.organizationsList()">


</span>






    <div class="list card" ng-repeat="o in organization.organizations">


      <div class="item item-avatar">
        <img src="{{o.user.profileImage}}">
        <h2>{{o.organizationName}}</h2>
        <p>{{o.creationDate | date}}</p>
      </div>

      <div class="item item-body">

        <p>
          This Organization Created By {{o.user.firstName}} {{o.user.lastName}} At {{o.creationDate | date}}.
        </p>
        <p>

          <a href="#" class="btn btn-xs btn-danger" ng-click="organization.delete(o,$index)">Remove</a>
          <a href="#" class="fa fa-edit" ui-sref="app.EditOrganizations({OrganizationId: o.id})">Edit</a>
        </p>
      </div>

    </div>
















  </ion-content>
</ion-view>
