<ion-view view-title="Events" ng-init="event.getEvents()">


  <ion-content padding="true">
    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search"
               ng-model="event.search"
               placeholder="Search ..">
      </label>
    </div>


    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="event.doRefresh()">
    </ion-refresher>


    <div ng-repeat="event in event.events | filter:event.search" class="list card">

      <div class="item item-avatar">
        <img ng-src="{{event.backgroundImage}}">
        <h2>{{event.title}} </h2>
        <p>{{event.theme}}</p>
      </div>

      <a ui-sref="events-details({id:event.id})" class="item item-image">
        <img ng-src="{{event.backgroundImage}}">
      </a>

      <a class="item calm" href="#">
        <i class="icon ion-bookmark"></i>
        Bookmark
      </a>

    </div>

    <ion-infinite-scroll
      ng-if="event.events.length!=event.allEvents.length"
      icon="icon ion-loading-c"
      on-infinite="event.loadMore()"
      distance="1%">
    </ion-infinite-scroll>


  </ion-content>
</ion-view>
