<ion-view view-title="Events" ng-init="event.getEvents()">

  <ion-nav-buttons side="secondary" >
    <button class="button button-clear"
            ui-sref="app.events-map">
      <i class="icon ion-map"></i> Map Listing
    </button >
  </ion-nav-buttons >


  <ion-content padding="true">
    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search"
               ng-model="event.search"
               placeholder="Search ..">
      </label>
    </div>


    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="event.doRefresh()">
    </ion-refresher>


    <div ng-repeat="e in event.events | filter:event.search" class="list card padding">

      <div class="item item-avatar">
        <img ng-src="{{e.backgroundImage}}">
        <h2>{{e.title}} </h2>
        <p>{{e.theme}}</p>
      </div>

      <a ui-sref="app.events-details({id:e.id})" class="item item-image">
        <img ng-src="{{e.backgroundImage}}">
      </a>

      <div class="tabs">
        <button ng-click="event.addToWishlist(e)" class="item assertive" style="width: 50%">
          <i class="icon ion-bookmark"></i>
          Bookmark
        </button>
        <button class="item assertive" style="width: 50%">
          <i class="icon ion-android-favorite"></i>
          Like
        </button>

      </div>

    </div>

    <ion-infinite-scroll
      ng-if="event.events.length!=event.allEvents.length"
      icon="icon ion-loading-c"
      on-infinite="event.loadMore()"
      distance="1%">
    </ion-infinite-scroll>


  </ion-content>
</ion-view>
