

<ion-view view-title="Event Participation" ng-init="reservationCtrl.getAllReservationByUser()">
  <script src="assets/reservationStufs/js/bootstrap.min.js"></script>

  <ion-content padding="true">

<!-- Modal -->
<div class="modal " id="myModal" role="dialog" ng-init="selectTicket.getEventTickets()" >
    <div class="modal-dialog ">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-body">


                <h4>Sales end in 01/01/2017</h4>

              <div class="row" ng-repeat="ticket in selectTicket.tickets">
                <div class="col col-50">{{ticket.typeTicket}}</div>

                <div class="col">
                  <select ng-change="selectTicket.updateNbTicket(ticket);" ng-model="selectTicket.ticketnumber[ticket.id]" style="float: right; width: 70px; font-size: 20px;">
                  <option ng-selected="selected">1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>
                </div>

              </div>




            </div>
            <div class="modal-footer">
              <button ng-click="selectTicket.goToBooking(); selectTicket.updatehahi();" class="button button-assertive button-block">Go To Checkout</button>

            </div>
        </div>

    </div>
</div>



  </ion-content>
</ion-view>




