<ion-view view-title="Reservate For Event" ng-init="createReservation.getAllReservationByUser()">
  <ion-content padding="true">


    <div class="list">
      <div class="item item-divider">
        User Information
      </div>
      <label class="item item-input item-floating-label">
        <span class="input-label">First Name</span>
        <input ng-model="currentUser.User.firstName" type="text" placeholder="John">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Last Name</span>
        <input ng-model="currentUser.User.lastName" type="text" placeholder="John">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input ng-model="currentUser.User.email" type="text" placeholder="John">
      </label>

      <div class="item item-divider">
        Billing Adress
      </div>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Country</span>
        <select ng-model="createReservation.reservation.country" type="text">
          <option value="Hey" selected>Select your country</option>
          <option value="Europe">Europe</option>
          <option value="United states">United states</option>
          <option value="Asia">Asia</option>
        </select>
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Street Adress</span>
        <input ng-model="createReservation.reservation.address" type="text" placeholder="Rue Lafayette">
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">City</span>
        <input ng-model="createReservation.reservation.city" type="text" placeholder="Kairouan">
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Postal Code</span>
        <input ng-model="createReservation.reservation.postalCode" type="text" placeholder="3100">
      </label>
      <button ng-click="createReservation.add(); createReservation.addReservationD();" class="button button-assertive button-block">Submit Reservation</button>


    </div>




  </ion-content>
</ion-view>

